@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Saira Condensed', sans-serif;
}

body {
    background-image: url("static/images/Bakgrunn.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

.page {
    display: flex;
}

.empty {
    /* width: 600px; */
    width: 40%;
}

.text, .about{
    width: 80%;
    padding-top: 11%;
    text-align: center;
}

.back:hover {
    font-size: 20px;
}

img {
    width: 35%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.5em;
}

h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 70px;
    margin-bottom: -30px;
}

#link {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

#link a{
    font-size: 2em;
    border-bottom:  5px solid rgb(152, 222, 235);
    width: 130px;
}

#link a:hover {
    font-weight: bolder;
}

/* PROJECTS */

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 40%;
    margin: 2%;
    padding: 2%;
    background: rgba(253, 253, 253, 0.5);
    text-align: left;
}

.project:hover {
    background: rgba(253, 253, 253, 0.7);
}

td {
    padding-right: 10px;
}

table {
    margin: 20px 0;
}

/* Icons */
#github {
    content: url('https://api.iconify.design/akar-icons:github-fill.svg?height=24');
    vertical-align: -0.125em;
    padding-bottom: 6px;
}

#github:hover {
    width: 30px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 1150px) {
    .empty {
        display: none;
    }
    
    .page {
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1em;
    }

    #link a{
        font-size: 1.5em;
        border-bottom:  3px solid rgb(152, 222, 235);
        width: 100px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    #link {
        flex-wrap: wrap;
        margin: 30px auto;
    }

    #link a{
        font-size: 20px;
        border-bottom:  3px solid rgb(152, 222, 235);
        width: 100px;
        margin: 20px 10%;
    }
}
